<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Footer injected from template -->
</head>
<body>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="title">MONA BOOKS</div>
                    <p>Mona Books is all about finding the next great read. With over a hundred thousand titles across multiple genres—you will never run out of stories.</p>
                    <div class="socials">Find Us Elsewhere</div>
                    <p>
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="title">Contact</div>
                    <p>Bonifacio High Street, Taguig, Metro Manila
                    <br/>MonaBooks@mbstore.com
                    <br/>(+632) 8935-5983
                    <br/>(+632) 8945-2365</p>
                </div>
            </div>
        <div class="footer-copyright text-center">&copy; 2022 Created By Mona Books All Rights Reserved.</div>
    </footer>
</body>
</html>