<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Navigation injected from template -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg custom-navbar sticky-top" id="default-nav">
        <div class="container" id="#main-menu">
            <a id="main-logo" class="navbar-brand logo" href="index.html"><img src="assets\media\images\logo\logo1.png" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" id="product-dropdown">
                        <a class="nav-link dropdown-toggle products-link" href="#" id="navbarProducts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu products-dropdown dropdown-menu-center" aria-labelledby="navbarProducts">
                            <li><a class="dropdown-item menu-dropdown-item" href="#">Fiction</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#">Non-Fiction</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#">Drama</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#y">Poetry</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#">Folktale</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#l">Historical</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#l">Educational</a></li>
                            <li><a class="dropdown-item menu-dropdown-item" href="#">Children Books</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
                <ul class="navbar-nav icon-links">
                    <li class="nav-item"><a class="nav-link" href="#"><ion-icon name="search-outline"></ion-icon></a></li>
                    <li class="nav-item dropdown" id="user-dropdown">
                        <a class="nav-link dropdown-toggle products-link" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                        <ul class="dropdown-menu products-dropdown dropdown-menu-center" aria-labelledby="navbarUser">
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="cart.html"><ion-icon name="cart-outline"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </nav>
  </body>
</html>